# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Cerebral signal helper: Execute on current file'
      'command': 'atom-cerebral-signal-bootstrap:execute'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Cerebral signal helper'
      'submenu': [
        {
          'label': 'Execute on current file'
          'command': 'atom-cerebral-signal-bootstrap:execute'
        }
      ]
    ]
  }
]
